<h1>URL DETAILS</h1>

<p>Original: <a href="<%=@url.original%>"> <%=@url.original%></a> </p>
<p>Shortened: <a href="http://localhost:9393/<%=@url.shortened_url%>">http://localhost:9393/<%=@url.shortened_url%></a></p>
<p>Number of Clicks: <%=@url.clicks%></p>
